# copy this file to /lib/systemd/system/
# systemctl start bizpoc-service #start-once
# systemctl enable bizpoc-service #enable start-on-boot
# systemctl status bizpoc-service 
# journalctl -u bizpoc-proxy	# to show service logs

[Unit]
Description=Bizpoc Proxy Service
After=network-online.target

[Service]
Restart=on-failure
WorkingDirectory=/home/ubuntu/proxy
ExecStart=/home/ubuntu/proxy/start.sh

[Install]
WantedBy=multi-user.target
